@model IEnumerable<ConsumeAPI.Models.Rolet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Role</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoletId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoletId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditForm", new { id = item.RoletId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RoletId }) |
                    @Html.ActionLink("Delete", "DeleteDetails", new { id = item.RoletId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-6 col-md-offset-2">
    <div>
        <h2>Eksopozimi</h2>
        <hr />
        <table>
            <tr>
                <td>
                    <h4>Eksopzimi i Json/Xml per Profesoret</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sample-content">
                        <span>
                            <b>Json:</b>
                        </span>
                        <hr />
                        <pre class="wrapped">
                            @ViewBag.JsonRolet
                        </pre>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sample-content">
                        <span>
                            <b>Xml:</b>
                        </span>
                        <hr />
                        <pre class="wrapped">
                             @ViewBag.XmlRolet
                         </pre>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>