@model IEnumerable<ConsumeAPI.Models.Lendet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LendetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmriLendes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrejtimiId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LendetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmriLendes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Drejtimi.EmriDrejtimit)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditForm", new { id = item.LendetId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LendetId }) |
                    @Html.ActionLink("Delete", "DeleteDetails", new { id = item.LendetId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-6 col-md-offset-2">
    <div>
        <h2>Eksopozimi</h2>
        <hr />
        <table>
            <tr>
                <td>
                    <h4>Eksopzimi i Json/Xml per Lendet</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sample-content">
                        <span>
                            <b>Json:</b>
                        </span>
                        <hr />
                        <pre class="wrapped">
                            @ViewBag.JsonLendet
                        </pre>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sample-content">
                        <span>
                            <b>Xml:</b>
                        </span>
                        <hr />
                        <pre class="wrapped">
                             @ViewBag.XmlLendet
                         </pre>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="col-md-6 col-md-offset-2">
    <div>
        <table>
            <tr>
                <td>
                    <h4>Eksopzimi i Json/Xml per Drejtimet</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sample-content">
                        <span>
                            <b>Json:</b>
                        </span>
                        <hr />
                        <pre class="wrapped">
                            @ViewBag.JsonDrejtimet
                        </pre>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="sample-content">
                        <span>
                            <b>Xml:</b>
                        </span>
                        <hr />
                        <pre class="wrapped">
                             @ViewBag.XmlDrejtimet
                         </pre>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>